body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/****************** FORM CONTROL STYLES ******************/
.form-control-lg {
  min-height: 38px;
}

.predefined-color {
  background-color: #b8b4b4;
  border: 1px solid #eee;
}

.new-element-color {
  background-color: #fff;
  border: 1px solid #b8b4b4;
}

.card-frame {
  border: 4px solid #777;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-frame.back {
  color: white;
  background: #34344a;
}

@media (min-width: 767px) {
  .card-frame {
    height: 560px;
  }

  .card-frame::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #fff;
  }

  .card-frame::-webkit-scrollbar
  {
    width: 10px;
    background-color: #fff;
  }

  .card-frame::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
}

@media (min-width: 1200px) {
  .card-frame {
    height: 860px;
  }
}

.my-auto {
  margin: auto 0;
}

.flip-icon {
  height: 24px;
  cursor: pointer;
}

.slick-slider {
  width: 95vw;
  margin-bottom: 30px;
}

.rule-text img {
  display: inline !important;
}

.input-inline-select:focus {
  border: 1px solid #444;
}